<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <main class="mx-auto text-center border border-secondary rounded">

        <div id="form1" class="mt-2 mb-2">
            <label for="host">Host:</label>
            <br>
            <input type="text" name="host" id="host" value="ec2-3-229-210-93.compute-1.amazonaws.com">
            <br><br>
            <label for="username">Nome de usuário:</label>
            <br>
            <input type="text" name="username" id="username" value="sregkbahnbyhll">
            <br><br>
            <label for="password">Senha:</label>
            <br>
            <input type="password" name="password" id="password" value="0d8cb2969d6cb7ab0be12e988b978abe0a5ac681d5e27964198b7fe656ddb40b">
            <br><br>
            <label for="dbname">Nome do banco de dados:</label>
            <br>
            <input type="text" name="dbname" id="dbname" value="ddbgk544cdc7hh">
            <br><br>
            <button type="submit" id="btn-form1">Conectar</button>
            <br><br>
            <div id="db-status" class="alert alert-primary">Aguardando...</div>
        </div>

        <div id="form2" class="mt-2 mb-2">
            <label for="url">URL:</label>
            <input type="text" name="url" id="url" value="https://httpbin.org/get">
            <br>
            <label for="headers" id="lbl-headers">Headers:</label>
            <br>
            <div id="headers">
            </div>
            <button id="btn-form2-add">+</button>
            <button id="btn-form2-rem">-</button>
            <br><br>
            <button id="btn-form2-con">Conectar</button>
        </div>

        <div id="form3" class="mt-2 mb-2">
            <p>Se os dados estão contidos em uma chave específica (em verde), clique nela. Se não, clique no botão "Passar"</p>
            <pre id="response-model"></pre>
            <button id="btn-form3-skp">Passar</button>
        </div>

        <div id="form4" class="mt-2 mb-2">
            <label for="table">Nome da tabela:</label>
            <input type="text" id="table" value="teste"></input>
            <br><br>
            <button id="btn-form4">Iniciar transferência de dados</button>
        </div>

    </main>
</body>

<script src="{{ url_for('static', filename='axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</html>